.DS_Store
node_modules
*/Tamareth.scriv/Files/binder.autosave
*/Tamareth.scriv/Files/binder.backup
*/Tamareth.scriv/Files/search.indexes
*/Tamareth.scriv/Files/user.lock
*/Tamareth.scriv/Files/Docs/docs.checksum
*/Tamareth.scriv/Files/Data/docs.checksum
*/Tamareth.scriv/QuickLook/
*/Tamareth.scriv/Settings/ui.plist